@import "./common.less";

#main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: fit-content;
}
#main .header,#main .footer {
  display: flex;
  font-size: 2.3rem;
  margin:20px 0;
  button{
    font-size: 1.5rem;
  }
}

#main .footer{
  flex-direction: column;
  &>div{
    display: flex;
    margin:2px;
    button{
      flex:1;
    }
  }
}

.roles{
  font-size:1.3rem;
  input[type="checkbox"]{
    width:2rem;
    height: 2rem;
  }
  .role{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.myrole{
  font-size:2.1rem;
  color:red;
}
.dangerInfo{
  font-size:1.5rem;
  color:red;
}