<html>

<head>
    <title>狼人杀</title>
    <meta charset="UTF-8">
    <link rel="icon" sizes="any" mask href="https://weiyinfu.cn/learnSvg/?text=狼&color=red&background=black">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet/less" type="text/css" href="play.less" />
    <script src="https://cdn.bootcss.com/less.js/3.10.3/less.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.6.11/vue.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.19.2/axios.min.js"></script>
    <script src="game.js"></script>
    <script src="api.js"></script>
</head>

<body>
    <div id="copydiv" style="width:0;height:0;"></div>
    <div id="main">
        <template v-if="game">
            <div class="header">第{{game.turn}}局 {{game.fetched}}/{{total}}</div>
            <template v-if="game.manager===me">
                <div class="roles">
                    <div v-for="role in roles" v-if="game.info[role.name]" class="role">
                        <span>{{role.chinese}}</span>&nbsp;
                        <span>{{game.info [role.name] }}</span>
                    </div>
                </div>
                <div class="footer">
                    <div>
                        <button @click="createRoom">创建房间</button>
                        <button @click="copyLink">复制链接</button>
                    </div>
                    <div>
                        <button @click="newGame">再来一局</button>
                        <button @click="fetchRoom">刷新</button>
                    </div>
                </div>
            </template>
            <template v-else>
                <div style="display: flex;align-items: center;">
                    <template v-if="role">
                        你是&nbsp;<span class="myrole">{{role.chinese}}</span>
                    </template>
                    <template v-else><span class="dangerInfo">身份已被领完</span></template>
                </div>
                <div class="roles">
                    <div v-for="role in roles" v-if="game.info[role.name]" class="role">
                        <span>{{role.chinese}}</span>&nbsp;<span>{{game.info [role.name] }}</span>
                    </div>
                </div>
                <div class="footer">
                    <div>
                        <button @click="createRoom">创建房间</button>
                        <button @click="copyLink">复制链接</button>
                    </div>
                    <div>
                        <button @click="fetchRoom">刷新</button>
                    </div>
                </div>
            </template>
        </template>
        <template v-else-if="noSuchRoom">
            <span class="dangerInfo">没有这个房间</span>
        </template>
        <template v-else>
            正在加载
        </template>
    </div>

</body>
<script>
    new Vue({
        el: "#main",
        data() {
            return {
                me: '',
                game: null,
                room: null,
                roles,
                noSuchRoom: false,
            }
        },
        computed: {
            role() {
                let role = this.game.people[this.me]
                return roleMap[role];
            },
            total() {
                return Object.values(this.game.info).reduce((o, n) => o + n, 0)
            }
        },
        mounted() {
            this.me = getUser();
            console.log(`user=${getUser()}`)
            this.fetchRoom();
        },
        methods: {
            createRoom() {
                location.href = "index.html"
            },
            newGame() {
                const q = parseQuery();
                newGame(q.room).then(resp => {
                    console.log('new game')
                    console.log(resp.data)
                    this.game = resp.data;
                })
            },
            fetchRoom() {
                //拉取房间信息
                const q = parseQuery();
                fetch(q.room).then(resp => {
                    console.log('刷新信息')
                    console.log(resp.data)
                    if (resp.data === "no such room") {
                        this.noSuchRoom = true
                        return
                    }
                    this.game = resp.data;
                })
            },
            copyLink() {
                this.copyText(location.href)
            },
            copyText(text) {
                let textarea = document.createElement("textarea"); //创建input对象
                let currentFocus = document.activeElement; //当前获得焦点的元素
                let toolBoxwrap = document.querySelector("#copydiv"); //将文本框插入到NewsToolBox这个之后
                toolBoxwrap.appendChild(textarea); //添加元素
                textarea.value = text;
                textarea.focus();
                if (textarea.setSelectionRange) {
                    textarea.setSelectionRange(0, textarea.value.length); //获取光标起始位置到结束位置
                } else {
                    textarea.select();
                }
                let flag = document.execCommand("copy"); //执行复制
                toolBoxwrap.removeChild(textarea); //删除元素
                currentFocus.focus();
                return flag;
            }
        }
    })
</script>

</html>